#list {
    margin: 10px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }


  table, th, td {
    border: 1px solid black;
    height: 20px;
    margin-left: 10px
  }


  img {
    max-width: 35%;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }


  h1 {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: blue;
    font-size: 30px;
  }

  #table-body
  {
    padding: 60px;
    text-align: center;
    background: rgb(80, 200, 255);
    text: white
    font-size: 30px;
  }

  #playlist-name
  {
    
    padding: 35px;
    text-align: center;
  }

  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  body{
    background-color: #FFF8CE

  }