#list {
    margin: 10px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }


  #table-body td {
    margin: 100px;
    width: 15%;
    text: white
    padding: 15px

  }